body {
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  margin: 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #303030;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input {
  box-sizing: border-box;
}

.bg-success {
  background-color: #4c9440 !important
}
.bg-success:hover {
  background-color: #1e7e34 !important;
}

.bg-info {
  background-color: #6FB3E0 !important;
}

.bg-warning {
  background-color: #FFB752 !important;
}

.bg-danger {
  background-color: #D15B47 !important;
}

.text-white {
  color: #fff;
}

/*-- hack MCE Editor --*/
#mceu_31, #mceu_32 {
  display: none !important;
}

*:focus {
  outline: none!important;
}

select {
  border-color: #ccc;
  color: #444;
}

.page-title {
  color: #555;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;
}

.btn {
  align-items: center;
  border: none;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  -ms-border-radius: 0!important;
  -o-border-radius: 0!important;
  border-radius: 0!important;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  height: 31px;
  justify-content: center;
  padding: .1rem .8rem;
  right: 0;
}

.page-title .btn {
  position: absolute;
  top: 10px;
}

.page-title .btn span.fa {
  margin-right: 3px;
}

.page-title .grp-image {
  position: absolute;
  right: 0;
  top: 0;
}

.page-title .custom-file-upload {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 31px;
  justify-content: center;
  padding: 5px 5px;
  width: 140px;
}
.page-title .js_clear_list {
  height: 31px;
  padding: 7px 10px 6.5px;
  position: absolute;
  right: 145px;
  top: 10px;
}

.page-title h1 {
  border-bottom: 1px dotted #ccc;
  margin-top: 0;
  padding-bottom: 5px;
}

/*~~ form ~~*/
.form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  padding: .2rem .5rem;
}

input.form-control,
select.form-control {
  box-shadow: none;
  box-sizing: border-box;
  height: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}
.sp50 {
  float: left;
  width: 49%;
}
.sp50_last {
  float: right;
}
.sp_clear {
  clear: both;
}
.form-group label {
  margin-bottom: 5px;
}

.grp-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tbl-img-avatar {
  align-items: center;
  background: #fff;
  border: 1px solid #4c9440;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 2px auto;
  overflow: hidden;
  padding: 2px;
  width: 40px;
}

.tbl-img-avatar img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.grp-submit button {
  width: calc(50% - 5px);
}

.grp-submit .btn-submit {
  background: #3C8DBC;
  border: 1px solid #3C8DBC;
  box-sizing: border-box;
  color: #fff;
  float: left;
  padding: 5px;
  position: inherit;
  text-align: center;
}

.grp-submit span.fa {
  margin-right: 5px;
}

.form-group.required:after {
  bottom: 2px;
  color: #c3260a;
  content: "*";
  position: absolute;
  right: 10px;
}

.form-control:focus {
  border-color: #438EB9;
  box-shadow: none;
}

.frm-action a {
  cursor: pointer;
  font-size: 16px;
  padding: 0 3px;
  text-align: center;
}

.frm-action a:first-child {
  padding-left: 0;
}

.frm-action a:last-child {
  padding-right: 0;
}

.ico-facebook {
  color: #4267b2 !important;
}
.ico-instagram {
  color: #f86d41 !important;
}
.ico-apple {
  color: #888 !important;
}
.ico-twitter {
  color: rgba(29,161,242,1.00) !important;
}

.btn:focus {
  box-shadow: none;
}

.btn-back {
  background-color: #808080;
  color: #fff;
}

.btn-submit {
  background-color: #438EB9;
  color: #fff;
}

.btn-submit:hover {
  background-color: #22658e;
}

.btn-close {
  background-color: #c7c7c7;
  border: 1px solid #999;
  border-radius: 0;
  color: #444;
  font-size: .94rem;
  margin-right: 5px;
  padding: .2rem .9rem .3rem;
}

.btn-close:hover {
  background-color: #a7a7a7;
  color: #333;
}

/* column */
.row {
  display: flex;
  justify-content: space-between;
}
.col-1 { width: 100%; }
.col-2 { width: calc(20% - 10px); }
.col-3 { width: calc(30% - 10px); }
.col-4 { width: calc(40% - 10px); }
.col-5 { width: calc(50% - 10px); }
.col-6 { width: calc(60% - 10px); }
.col-7 { width: calc(70% - 10px); }
.col-8 { width: calc(80% - 10px); }

.wrapper {
  display: flex;
  justify-content: space-between;
}
.content {
  box-sizing: border-box;
  height: calc(100vh - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;
  position: relative;
  width: calc(100% - 250px);
}
.main-content {
  padding: 0 1rem;
}
.page-wrapper {
  box-sizing: border-box;
  margin: 20px auto 10px;
  padding: 0 10px;
  width: 100%;
}
/* END column */

.link-config {
  color: #707070;
  font-size: 12px;
  text-align: right;
}

.link-config:hover {
  color: #0095ff;
}

.layout-col-right .form-group {
  display: inline-block;
  padding-bottom: 5px;
  width: 100%
}

.layout-col-right .form-group > label.sub-header {
  background: #438EB9;
  color: #fff;
  padding: 3px 5px 4px;
  width: 100%;
}

.upload-btn-wrapper {
  display: inline-block;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.upload-btn-wrapper button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  color: gray;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
input[type="file"] {
  display: none;
}
input[disabled] {
  cursor: no-drop;
}
.location_pro {
  min-width: 35px;
}
.custom-file-upload {
  background: #3C8DBC;
  border: 1px solid #3C8DBC;
  color: #fff;
  float: left;
  padding: 5px 10px;
  text-align: center;
  width: 90px;
}
.custom-file-upload i {
  margin-right: 5px;
}
.custom-file-upload:hover{
  background: #096483;
  border: 1px solid #096483;
  cursor: pointer;
}
.grp-image {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.avatar_file_up {
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  height: 70px;
  margin-right: 20px;
  overflow: hidden;
  width: 70px;
}
.grp-image img {
  float: left;
  height: 70px;
  object-fit: cover;
  width: 70px;
}
.sub-header {
  border: 1px solid #2f6d90;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
}

.layout-col-right .form-group > .form-check {
  margin: 0 auto;
  width: calc(100% - 10px)
}

.thumbnails-uploader {
  text-align: center;
}

/*~~ Images uploader ~~*/
.thumb-upload {
  border: 1px solid #ccc;
  display: inline-block;
  height: 100px;
  margin: 2px 4px;
  max-width: calc(50% - 4px);
  position: relative;
  width: 100px;
}
.thumb-upload img {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumb-upload .btn-delete {
  background: #444;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  padding: 0;
  position: absolute;
  right: -9px;
  top: -9px;
  width: 18px;
  z-index: 9;
}
.thumb-upload .btn-delete:after,
.thumb-upload .btn-delete:before {
  background: #fff;
  content: "";
  height: 10px;
  left: 9px;
  position: absolute;
  top: 4px;
  transform: rotate(45deg);
  width: 1px;
}
.thumb-upload .btn-delete:before {
  transform: rotate(-45deg);
}
/*~~ END Images uploader ~~*/

/* ~ Loading ~ */
.loader {
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  background: #dac03e;
  background: -moz-linear-gradient(left, #dac03e 10%, rgba(218,192,62, 0) 42%);
  background: -webkit-linear-gradient(left, #dac03e 10%, rgba(218,192,62, 0) 42%);
  background: -o-linear-gradient(left, #dac03e 10%, rgba(218,192,62, 0) 42%);
  background: -ms-linear-gradient(left, #dac03e 10%, rgba(218,192,62, 0) 42%);
  background: linear-gradient(to right, #dac03e 10%, rgba(218,192,62, 0) 42%);
  border-radius: 50%;
  font-size: 10px;
  height: 11em;
  margin: 50px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  width: 11em;
}
.loader:before {
  background: #dac03e;
  border-radius: 100% 0 0 0;
  content: '';
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.loader:after {
  background: #fff;
  border-radius: 50%;
  bottom: 0;
  content: '';
  height: 85%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.product-list {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.import_loading {
  align-items: center;
  background: rgba(20, 20, 20, .4);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.loading_container {
  align-items: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #999;
  display: flex;
  height: 50vh;
  justify-content: center;
  left: 50%;
  max-height: 300px;
  max-width: 300px;
  min-height: 90px;
  min-width: 90px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.status_import {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.copyright_info {
  align-items: center;
  background: #f2f2f2;
  border-top: 1px solid #ccc;
  bottom: 0;
  box-sizing: border-box;
  color: #333;
  display: flex;
  font-size: 12px;
  height: 35px;
  justify-content: space-between;
  padding: 10px 30px 10px 10px;
  position: fixed;
  right: 0;
  width: calc(100% - 250px);
  z-index: 99;
}