.breadcrumb {
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0;
  padding: 0 1rem;
  top: 40px;
  width: 100%;
  z-index: 99;
}

ol.bread {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 11px 0 9px 20px;
  position: relative;
}

.search-form {
  align-items: center;
  display: flex;
  position: relative;
  width: 200px;
}

ol.bread:before {
  content: "\f015";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

ol.bread li {
  padding: 0 5px;
}

ol.bread li a {
  color: #555;
}
ol.bread li a:hover {
  color: #438EB9;
  text-decoration: none;
}

.search-form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 26px;
  padding: 2px 35px 2px 10px;
  width: 200px;
}

.search-form input:focus {
  border-color: #438EB9;
  outline: none;
}

.search-form span.ico-search {
  color: #ccc;
  position: absolute;
  right: 8px;
  top: 12px;
}

.search-form input:focus + span.ico-search {
  color: #438EB9;
}