@media screen and (min-width: 681px) {
  .pc_hide {
    display: none !important;
  }
}
@media screen and (max-width: 680px) {
  html {
    font-size: 4vw;
    overflow: hidden;
  }
  body,
  .form-control {
    font-size: 12px;
  }
  input {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .grp-submit {
    padding-top: 12px;
  }
  .breadcrumb-mobile {
    display: block;
  }
  .tg-menu-mobile {
    align-items: center;
    background: #D15B47;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-around;
    padding: 5px 0;
    position: relative;
    width: 30px;
    z-index: 99;
  }
  .tg-menu-mobile .tg-bar {
    border-top: 3px solid #fff;
    display: block;
    transition: 1s;
    width: 20px;
  }
  .tg-menu-mobile.open .tg-bar:nth-child(1) {
    transform: translate(0, 5px) rotate(45deg);
    transition: 1s;
  }
  .tg-menu-mobile.open .tg-bar:nth-child(2) {
    display: none;
  }
  .tg-menu-mobile.open .tg-bar:nth-child(3) {
    transform: translate(0, -5px) rotate(-45deg);
    transition: 1s;
  }
  .content .breadcrumb {
    display: none;
  }
  .top-navbar {
    padding: 0 .5rem;
    width: 100%;
  }
  .sidebar {
    left: -255px;
    position: absolute;
    z-index: 99;
  }
  .breadcrumb-mobile {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 5px;
    position: absolute;
    top: 45px;
    width: 100%;
  }
  .content {
    height: calc(100vh - 80px);
    margin-top: 55px;
    padding-bottom: 1.8rem;
    width: 100%;
  }
  .page-title {
    margin-top: 0;
  }
  .row {
    flex-direction: column;
  }
  .btn {
    font-size: 12px;
    height: 28px;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9 {
    width: 100%;
  }
  .dataTables_info {
    left: 0;
    margin-top: 10px;
    position: sticky;
    text-align: center;
    width: 100%;
  }
  .grp-submit .btn-submit {
    padding: 5px 10px;
    width: 60%;
  }
  .grp-submit button.btn-close-submit {
    width: 38%;
  }
  .btn-delete,
  .btn-edit {
    margin: 1px 2px;
  }
  .dataTables_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
  }
  .dataTables_paginate {
    align-items: baseline;
    clear: both;
    display: flex;
    justify-content: center;
    left: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    position: sticky;
    width: 100%;
  }
  .page-title h1 {
    margin-bottom: 0;
  }
  .main-content {
    padding: .6rem;
  }
  .page-wrapper {
    padding: 0;
  }
  .dataTables_length {
    align-items: center;
    display: flex;
    height: 24px;
    left: 0;
    margin: 0 0 10px 0;
    position: sticky;
    top: 0;
  }
  .dataTables_filter {
    align-items: center;
    display: flex;
    height: 24px;
    left: calc(100% - 180px);
    margin: 0 0 10px 0;
    position: sticky;
    top: 0;
    width: 180px;
  }
  .dataTables_filter label {
    align-items: center;
    display: flex;
    width: 100%;
  }
  .dataTables_length select,
  .dataTables_filter input {
    border: 1px solid #ccc;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    height: 22px;
  }
  .sp_hide {
    display: none;
  }
  .page-title .custom-file-upload {
    align-items: center;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 130px;
  }
  .dt-buttons {
    height: 28px;
    width: 100px;
  }
  .page-title .js_clear_list {
    height: 28px;
    right: 135px;
  }
  .form_modal {
    align-items: center;
    background: rgba(50, 50, 50, .2);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    max-height: 100vh;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }
  .form_modal form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #555;
    margin: 20px auto 40px;
    padding: 25px 15px 15px;
    position: relative;
    width: 20rem;
  }
  .form_modal button.md_close {
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: -2px 2px 4px #bbb;
    font-size: 0;
    height: 2.5rem;
    position: absolute;
    right: -.9rem;
    top: -.9rem;
    width: 2.5rem;
  }
  .form_modal button.md_close:before,
  .form_modal button.md_close:after {
    border-top: 2px solid #D15B47;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60%;
  }
  .form_modal button.md_close:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .form_modal button.md_close:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .sidebar {
    width: 210px;
  }
  .main__container {
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
  }
  .login-card {
    border-radius: 0;
    min-height: 100vh;
    position: relative;
    width: 100%;
  }
  .signup-notice,
  .login-header {
    color: #fff;
  }
  .login-form {
    padding: 20px 0 10px;
  }
  .login-input {
    height: 40px;
    margin: .4rem 0;
  }
  .login-content {
    position: absolute;
    width: 100%;
    z-index: 9;
  }
  .login-aside-overlay,
  .login-aside {
    border-radius: 0;
  }
  .login-welcome-text,
  .login-aside-hr {
    display: none;
  }
  .copyright_info {
    font-size: .8rem;
    height: 1.8rem;
    padding-right: 10px;
    width: 100%;
  }
  table thead th,
  table tbody td {
    font-size: 12px;
  }
  .user-profile .profile-container {
    box-sizing: border-box;
    padding: 10px 10px 30px;
    width: 100%;
  }
  .profile_info {
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 0;
  }
  .profile_info ul {
    padding-left: 0;
  }
  .user-profile .profile-container {
    padding-bottom: 15px;
  }
  .user-profile .profile-container:before {
    height: 20px;
    width: 20px;
  }
  .user-profile .profile-container:after {
    border-width: 10px;
  }
}