.top-navbar {
  background-color: #438EB9;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  z-index: 99;
}
.logo {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: flex-start;
  width: 150px;
}
.logo .logo-icon {
  color: #fff;
  font-size: 25px;
}
.logo .logo-icon:active {
  color: #fff;
}
.logo .site-name {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.top-menu {
  height: 40px;
}
.top-menu .menu {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
.top-menu .menu li {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 100%;
  line-height: 1;
  list-style: none;
  margin-right: 10px;
  padding: 5px 30px 5px 15px;
  position: relative;
}
.top-navbar .dropdown-item {
  height: 40px;
  position: relative;
}
.dropdown-item button {
  color: #fff;
  height: 40px;
}
.btn-drop-user {
  align-items: center;
  display: flex;
}

.avatar_nav {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  width: 30px;
}

.avatar_nav img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.dropdown-item button span {
  margin: 0 12px;
}
.dropdown-item button.is_active i:last-child {
  transform: rotate(180deg);
}
.top-navbar .menu-dropdown {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 2px 3px #ccc;
  display: none;
  margin: 7px 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 150px;
  z-index: 9;
}
.top-navbar .menu-dropdown:before {
  background: #fff;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  content: "";
  height: 8px;
  left: calc(50% - 4px);
  position: absolute;
  top: -6px;
  transform: rotate(-45deg);
  width: 8px;
}
.menu-dropdown ul {
  margin: 0;
  padding: 5px 0;
}
.top-menu .menu-dropdown li {
  border-bottom: 1px dotted #ccc;
  display: block;
  float: none;
  margin: 0 5px;
  padding: 8px 16px;
  text-align: left;
  width: calc(100% - 10px);
}
.top-menu .menu-dropdown li:last-child {
  border-bottom: none;
}
.top-menu .menu-dropdown li a {
  color: #555;
}
.top-menu .menu-dropdown li a:hover {
  color: #438EB9;
  text-decoration: none;
}