.sidebar {
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  width: 250px;
}

.sidebar a {
  cursor: pointer;
  display: flex;
  height: 30px;
  margin: 0 2px;
  width: 40px;
}

.quick-link {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}

.quick-link button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  width: 40px;
}

.sidebar .dropdown-item:hover:after,
.sidebar span:hover,
.sidebar a:hover {
  color: #438EB9;
  text-decoration: none;
}

.sidebar-menu a,
.dropdown-item > span {
  align-items: center;
  box-sizing: border-box;
  color: #444;
  cursor: pointer;
  display: flex;
  height: 40px;
  padding: 9px 6px;
  position: relative;
  width: 100%;
}

.sidebar-menu .ico-menu {
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-align: center;
  width: 40px;
}

.sidebar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu ul li {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.sidebar-menu ul li.dropdown-item::after {
  content: "\f054";
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 13px;
}

.sidebar-menu ul li.dropdown-item.open::after {
  transform: rotate(90deg);
  transition: .3s;
}

.sidebar-menu > ul > li.active {
  background-color: #fff;
  border-right: 2px solid #438EB9;
}

.sidebar-menu > ul > li.active a,
.sidebar-menu > ul > li.active > span,
.sidebar-menu > ul > li.dropdown-item.active li.active a {
  color: #438EB9;
}

.sidebar-menu > ul > li.dropdown-item.active a {
  color: #444;
}

.sidebar-menu > ul > li.active:after {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #438EB9;
  border-top: 10px solid transparent;
  box-sizing: border-box;
  content: "";
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-menu .menu-dropdown {
  border-top: 1px solid #e5e5e5;
  display: none;
}

.sidebar-menu li.active .menu-dropdown {
  display: block;
}

.menu-dropdown li {
  padding-left: 35px;
  position: relative;
}

.sidebar-menu .menu-dropdown li:last-child {
  border-bottom: none;
}

.sidebar-menu ul li:hover .fa {
  color: #438EB9;
}

.menu-dropdown li.active span:before,
.menu-dropdown li:hover span:before {
  display: block;
}

.menu-dropdown li span:before {
  border-bottom: 5px solid transparent;
  border-left: 7px solid #438EB9;
  border-top: 5px solid transparent;
  content: "";
  display: none;
  left: -12px;
  position: absolute;
  top: calc(50% - 5px);
  z-index: 9;
}

.sidebar .menu-dropdown li:before {
  border-left: 1px dotted #c8c8c8;
  content: "";
  height: 100%;
  left: 25px;
  position: absolute;
  top: 0;
}

.sidebar .menu-dropdown li:after {
  border-top: 1px dotted #c8c8c8;
  content: "";
  left: 25px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.menu-dropdown li.active:before,
.menu-dropdown li.active:after,
.menu-dropdown li:hover:before,
.menu-dropdown li:hover:after {
  border-color: #438EB9;
}

.dropdown-item {
  padding: 0;
}

.toggle-sidebar {
  background: #f2f2f2;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px 0;
  cursor: pointer;
  height: 26px;
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.toggle-sidebar span {
  position: relative;
  z-index: 9;
}

.toggle-sidebar:after {
  border-top: 1px solid #e5e5e5;
  content: "";
  left: 10%;
  position: absolute;
  top: 11px;
  width: 80%;
}

.dropdown-item:active {
  background-color: #fff !important;
}

/*current-date*/
.current-date {
  border-bottom: 1px solid #ddd;
  padding: 3px 10px;
  text-align: center;
}
.current-date span {
  display: block;
}
.current-date span:last-child {
  font-size: 15px;
}