.root__container {
  align-items: center;
  background-image: linear-gradient(to top,#5ee7df 0,#66a6ff 100%);
  display: flex;
  flex-flow: column;
  position: fixed;
}
.main-container__bg {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
.main__container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
  width: 90vw;
}
.login-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  display: flex;
  min-height: 500px;
  width: 900px;
}
.login-content {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100%;
  width: 300px;
}
.login-aside {
  animation: 2.25s ease-in-out fadein;
  background: url("https://source.unsplash.com/random/1200x900?mountain") center center/cover no-repeat;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  min-height: 100%;
  position: relative;
  width: 600px;
}
.login-header {
  -webkit-animation: 1.75s ease-in-out fadein;
  animation: 1.75s ease-in-out fadein;
  color: #0c1066;
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
}
.login-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding-top: 20px;
  position: relative;
  width: 85%;
}
.login-input {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0,0,255,.3);
  height: 50px;
  margin: .6rem 0;
  outline: 0;
  padding: 1.2rem 1.5rem;
  width: 90%;
}
.login-btn {
  align-content: center;
  background-color: #b08202;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 2rem rgba(0,0,255,.1);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  height: 40px;
  justify-content: center;
  margin-top: 1.5rem;
  width: 150px;
}
.btn-disabled {
  background-color: #d3d3d3;
}
.signup-link-wrapper {
  -webkit-animation: 1s ease-in-out slideup;
  animation: 1s ease-in-out slideup;
  margin-top: 3rem;
}
.login-aside-overlay {
  background-color: rgba(0,0,0,.15);
  border-radius: 0 10px 10px 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.login-welcome-text {
  border-bottom: 3px solid #fff;
  color: #fff;
  font-size: 2.75rem;
  letter-spacing: .03rem;
  margin: 0 2rem 4rem 2rem;
  position: relative;
  z-index: 5;
}
.login-aside-hr {
  -webkit-animation: 4s ease-out slideright;
  animation: 4s ease-out slideright;
  background-color: #fff;
  border: none;
  height: .3rem;
  margin: 0 0 8rem 3rem;
  outline: 0;
  position: relative;
  width: 30rem;
  z-index: 5;
}
.signup-link {
  color: #ff3a82;
  margin-left: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* user profile */
.user-profile .profile-container {
  border-bottom: 1px dotted #438EB9;
  padding: 0 0 40px 30px;
  position: relative;
  width: 750px;
}
.user-profile .profile-container:before {
  background-image: linear-gradient(45deg, #438EB9 0 25%, #fff 25% 50%, #438EB9 50% 75%, #fff 75%);
  background-size: 2px 2px;
  bottom: 0;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  width: 40px;
}
.user-profile .profile-container:after {
  border-color: #fff #fff transparent transparent;
  border-style: solid;
  border-width: 20px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
}
.avatar_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar_info .avatar_area {
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 150px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 150px;
}
.avatar_info .avatar_area img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.process_count .status_count {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.profile_info ul {
  list-style: none;
}
.profile_info ul li {
  margin: 6px 0;
}
.profile_info ul li.social_info {
  border-top: 1px dotted #ddd;
  display: flex;
  font-size: 22px;
  margin-top: 10px;
  padding-top: 10px;
}
.profile_info ul li.social_info a {
  margin-right: 5px;
}
.profile_info ul li span {
  color: #dc8809;
  display: flex;
  float: left;
  justify-content: center;
  margin-right: 10px;
  width: 20px;
}
.frm_edit_profile {
  background: rgba(20, 20, 20, .5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}
.frm_edit_profile form {
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #888;
  box-sizing: border-box;
  left: 50%;
  max-width: 90%;
  padding: 30px 20px 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
.frm_edit_profile .md_close {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: 35px;
  position: absolute;
  right: -10px;
  top: -15px;
  width: 35px;
}
.frm_edit_profile .md_close:before,
.frm_edit_profile .md_close:after {
  background: #888;
  content: "";
  height: 2px;
  left: 7px;
  position: absolute;
  top: 15px;
  transform: rotate(45deg);
  width: 20px;
}
.frm_edit_profile .md_close:after {
  transform: rotate(-45deg);
}
.notice_correct {
  color: red;
  display: none;
  font-style: italic;
  position: absolute;
  top: 0;
}
/* END user profile */